!!!
%html
  %head
    %title Eureka
    = stylesheet_link_tag 'application', media: 'all'

    = jquery_include_tag :google
    = javascript_include_tag 'application'

    = csrf_meta_tags

  %body
    = yield