!!!
%html
  %head
    %title Eureka
    = stylesheet_link_tag '//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css'
    = stylesheet_link_tag 'https://api.tiles.mapbox.com/mapbox.js/v2.0.1/mapbox.css'
    = stylesheet_link_tag 'application', media: 'all'

    = jquery_include_tag :google

    = javascript_include_tag 'https://api.tiles.mapbox.com/mapbox.js/v2.0.1/mapbox.js', async: false

    = javascript_include_tag 'application'

    = favicon_link_tag 'favicon.ico'

    = csrf_meta_tags

  %body
    = yield